@tailwind base;
@tailwind components;
@tailwind utilities;

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link:before {
  content: none;
}
